<%- include('header'); -%>



    <div class="box" id="heading">
       <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for(let i=0;i<listItems.length;i++) { %>
            <div class="item">
                <input type="checkbox" >
                <p> <%= listItems[i] %></p>
            </div>
        <% } %>

        <form action="/" method="post">
            <input type="text" name="todoItem" placeholder="write todo..." autocomplete="off" />
            <button type="submit" name="button" value= <%= listTitle  %> >+</button>
        </form>

    </div>


<%- include('footer') -%>